// regole header
header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $border-color;

    a {
      margin: 0 20px;
      font-size: 14px;
    }

    .btn {
      background-color: #fff;
      color: $btn-color;
      padding: 10px 15px;
      border: 1px solid $btn-color;
      border-radius: 5px;

      &:hover {
        background-color: $btn-color;
        color: #fff;
      }
    }
  }

  .jumbotron {
    display: flex;
    align-items: center;
    height: 650px;

    .jumbo-left {
      width: 50%;
      padding-right: 40px;
    }

    .jumbo-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}
