// regole header
header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $border-color;

    .nav-link {
      display: flex;

      ul {
        display: flex;
        align-items: center;

        a {
          margin: 0 20px;
          font-size: 14px;
        }
      }
    }

    .solutions {
      position: relative;

      .dropdown {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        background-color: #fff;
        padding: 10px;
        border: 1px solid $text-color;
        border-radius: 5px;

        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          li {
            margin: 10px;

            a {
              margin: 0;
            }
          }
        }
      }
    }

    .solutions:hover .dropdown {
      display: block;
    }

    .fa-sort-down {
      margin-left: 5px;
      color: #b49982;
    }

    .dropdown {
      display: none;
    }

    .btn {
      background-color: #fff;
      color: $btn-color;
      padding: 10px 15px;
      border: 1px solid $btn-color;
      border-radius: 5px;

      &:hover {
        background-color: $btn-color;
        color: #fff;
      }
    }
  }

  .jumbotron {
    display: flex;
    align-items: center;
    height: 650px;

    .jumbo-left {
      width: 50%;
      padding-right: 40px;
    }

    .jumbo-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}
