@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "partials/_variables";
@import "partials/_header";
@import "partials/_main";
@import "partials/_footer";

// regole generali
.container {
  width: 60%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

li {
  list-style: none;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
  margin: 40px 0;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: $text-color;
}

span {
  margin: 0px 10px;
}

.signup-btn {
  margin: 10px 0;

  p {
    margin-top: 20px;
    font-size: 14px;
  }
}

.btn {
  background-color: $btn-color;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.btn-img {
  width: 15px;
  margin-right: 5px;
}
