@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "partials/_variables";

// regole generali
.container {
  width: 60%;
  margin: auto;
}

.row {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

li {
  list-style: none;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
  margin: 40px 0;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: $text-color;
}

span {
  margin: 0px 10px;
}

.signup-btn {
  margin: 10px 0;

  p {
    margin-top: 20px;
    font-size: 14px;
  }
}

.btn {
  background-color: $btn-color;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

// regole header
header {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $text-color;

    a {
      margin: 0 20px;
      font-size: 14px;
    }

    .btn {
      padding: 5px 20px;
      border: 1px solid $btn-color;
      border-radius: 5px;
    }
  }

  .jumbotron {
    display: flex;
    align-items: center;
    height: 600px;

    .jumbo-left {
      width: 50%;
      padding-right: 40px;
    }

    .jumbo-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

// sezione people
#people {
  background-color: $background-color;
  text-align: center;
  padding: 100px 0;

  .before {
    border-bottom: 1px solid $text-color;
    padding-bottom: 50px;
  }

  .after {
    padding-top: 50px;

    h3 {
      margin-top: 100px;
      margin-bottom: 0;
    }
  }

  h3 {
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
  }

  .box-img-small {
    width: 33%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 140px;
      max-height: 140px;
      margin-bottom: 20px;
    }

    h5 {
      width: 60%;
      font-size: 16px;
      font-weight: lighter;
      line-height: 25px;
    }
  }

  .box-img-big {
    margin-top: 50px;

    img {
      width: 280px;
    }
  }
}

// sezione features
#features {
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 100px auto;

    &:nth-child(even) {
      justify-content: flex-end;
    }

    .features-img {
      width: 50%;

      img {
        width: 100%;
      }
    }

    .features-info {
      width: 25%;

      a {
        color: $btn-color;
        font-size: 20px;
      }

      img {
        display: block;
        margin: 50px auto;
        width: 70%;
      }
    }
  }
}

// sezione get started
#get-started {
  text-align: center;
  background-color: $background-color;
  padding: 50px;

  .founder-msg {
    text-align: left;
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid $text-color;
    border-radius: 5px;
    padding: 30px;
    line-height: 24px;
  }

  .founder-img {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;

    img {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }

    .names {
      display: flex;
      flex-direction: column;
    }
  }

  .signup-btn {
    p {
      margin-top: 30px;
    }
  }
}

// regole footer
footer {
  height: 550px;
  padding: 100px 0;

  .container {
    display: flex;
  }

  .footer-msg {
    width: 40%;
    display: flex;
    padding-right: 100px;

    img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }

    span {
      font-weight: bold;

      a {
        color: $btn-color;
      }
    }
  }

  div {
    width: calc(60% / 5);

    li {
      margin: 15px 0;
      font-size: 14px;

      &:first-child {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
  }
}
